PORT=3000

DATABASE_URL=postgresql://postgres:123456@127.0.0.1:5432/utilix

REDIS_URL=
REDIS_VERIFICATION_CODE_KEY_PREFIX=verification_code:

SMS_SEND_ENABLED=false
ALIYUN_SMS_ACCESS_KEY_ID=
ALIYUN_SMS_ACCESS_KEY_SECRET=
ALIYUN_SMS_SIGN_NAME=
ALIYUN_SMS_TEMPLATE_CODE=
ALIYUN_SMS_ENDPOINT=dypnsapi.aliyuncs.com
SMS_VERIFICATION_CODE_EXPIRES_IN_SECONDS=300
